@using TP2.Models;
@model Enfant

<div class="gallery col-lg-3 col-12 m-3">
    <a href="~/enfant/detail/@(Model.Id)" style="text-decoration: none; color: white;">
        <img class="img-fluid blackBorder" src=@(Model.ImageURL) alt="Image du véhicule" /><br />
        <p class="nav-Bar"> @Model.Nom </p>
    </a>
    <a href="~/GestionEnfant/delete/@(Model.Id)" style="text-decoration: none; color: white;">
        <p class="boutonSup"> Supprimer &nbsp;&nbsp; <i class="fa-sharp fa-solid fa-trash"></i> </p>
    </a>
</div>
