@model TP2.ViewModel.PageRechercheViewModel;

<div class="row mt-5">

    <div class="col-8">
        <h1>LISTE DES MODÈLES</h1>
        <div class="row">
            @foreach (var item in Model.Resultat)
            {
                <div class="gallery col-lg-3 col-12">
                    <a href="~/enfant/detail/@(item.Id)" style="text-decoration: none; color: white;">
                        <img class="img-fluid blackBorder" src=@(item.ImageURL)  alt="Image du véhicule" /><br />                     
                        <p class="nav-Bar"> @item.Nom </p>
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="col-4">

        <h2 class="p-2" style="background-color: rgb(173, 0, 0);">FILTRE DE RECHERCHE &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-sliders"></i></h2>


        <h4>Rechercher par mots-clés</h4>
        <form action="https://www.w3schools.com/action_page.php" method="post">
            <input type="text" id="motCle" name="MotsCles" placeholder="Saisir un mot-clé" value="@Model.Criteres.MotsCles">
            <h4> <br> Nombre de kilomêtrage</h4>
            <div class="row">
                <div class="col-6">
                    <input type="number" id="min" name="MinNbKilo" value="@Model.Criteres.MinNbKilo" placeholder="Min" step="1000">
                </div>
                <div class="col-6">
                    <input type="number" id="max" name="MaxNbKilo" value="@Model.Criteres.MaxNbKilo" placeholder="Max" step="1000">
                </div>
            </div>
            <h4> <br> Modèles vedettes</h4>
            <select name="ChoixPourModelVedette" id="selection">
                @if(Model.Criteres.ChoixPourModelVedette == "Oui")
                {
                     <option selected value="Oui">Oui</option>
                }
                else
                {
                    <option value="Oui">Oui</option>
                }

                 @if(Model.Criteres.ChoixPourModelVedette == "Non")
                {
                     <option selected value="Non">Non</option>
                }
                else
                {
                    <option value="Non">Non</option>
                }

                 @if(Model.Criteres.ChoixPourModelVedette == "PeuImporte")
                {
                     <option selected value="PeuImporte">Peu importe</option>
                }
                else
                {
                    <option value="PeuImporte">Peu importe</option>
                }                           
            </select>

            <h4> <br> Marques</h4>

            @if (Model.Criteres.EstUnNissan)
            {
                 <input type="checkbox" checked name="EstUnNissan" value="true" class="form-check-input">
            }
            else
            {
                 <input type="checkbox" name="EstUnNissan" value="true" class="form-check-input">
            }          
            <label for="nissan"> NISSAN</label><br>

            @if (Model.Criteres.EstUnNissan)
            {
                 <input type="checkbox" checked name="EstUnToyota" value="true" class="form-check-input">
            }
            else
            {
                 <input type="checkbox" name="EstUnToyota" value="true" class="form-check-input">
            }              
            <label for="toyota"> TOYOTA</label><br>

            @if (Model.Criteres.EstUnNissan)
            {
                 <input type="checkbox" checked name="EstUnHonda" value="true" class="form-check-input">
            }
            else
            {
                 <input type="checkbox" name="EstUnHonda" value="true" class="form-check-input">
            }           
            <label for="honda"> HONDA</label><br><br>

            <div class="row">
                <div class="col-6">
                    <button type="reset" class="btn btn-danger">EFFACER &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-trash"></i> </button>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success">RECHERCHER &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-magnifying-glass"></i> </button>
                </div>
            </div>
        </form>

        <!--fieldset est une autre façon d'entouré des éléments-->

        <br>
        <form>
            <fieldset style="border:1px solid #999; border-radius:8px; box-shadow:0 0 8px #999;padding:6px;">
                <legend style="text-align: left;">Do you like our website?</legend>
                Yes
                <input name="yes" type="radio" value="yes" />
                No
                <input name="no" type="radio" value="no" />
            </fieldset>
        </form>

        <!--details cache du texte jusqu'a ce qu'on appuie dessus-->

        <details>
            <summary>Cliquez ici pour en savoir plus</summary>
            <p>Ce site web a été créé par une seule personne dans le cadre du cours de programmation web Server.</p>
        </details>
    </div>
</div>